.footer {
    border-top: 1.5px rgb(252, 252, 252) solid;
    background-color: #080808;
}

#body-student {
    background: linear-gradient(to top, #000000, rgb(0, 0, 0), rgb(255, 255, 255));
}

#student-registration-form {
    margin: 6em auto;
    max-width: 600px;
    background: linear-gradient(to top, #fcfcfc, rgb(255, 255, 255), rgb(0, 0, 0));
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(61, 0, 61);
    border: 1px solid #ddd;
}

#student-registration-form:hover {
    box-shadow: 0 0 10px rgb(122, 0, 122);
}

#student-registration-form label {
    display: block;
}

#student-registration-form input[type="text"] {
    width: 100%;
    padding: 0.4em;
    border: 0.5px solid #000000;
    border-radius: 5px;
    margin-top: 0.1em;
}

#student-registration-form input[type="submit"] {
    background-color: #080808;
    color: white;
    padding: 0.5em 1em;
    border: 1.5px solid #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 2px rgb(196, 0, 196);
    cursor: pointer;
    margin-top: 1em;
}

#student-registration-form input[type="submit"]:hover {

    color: rgb(0, 0, 0);
    box-shadow: 0 0 12px rgb(223, 222, 222);
    border: 1.5px solid #ffffff;
}

#student-registration-form label {
    margin-bottom: 1px;
}

#h1 {
    color: #ffffff; /* Cambiamos el color a un tono de azul oscuro */
    font-size: 40px; /* Aumentamos el tamaño de la fuente para que sea más prominente */
    text-align: center; /* Mantenemos el texto centrado */
    padding: 40px; /* Mantenemos el padding */
    font-family: 'Lato', sans-serif;
 
    letter-spacing: 2px; /* Añadimos espaciado entre las letras para mejorar la legibilidad */
    background-color: #000000; /* Añadimos un fondo gris claro para que el título destaque */
    border-radius: 10px; /* Añadimos bordes redondeados para suavizar la apariencia */
    box-shadow: -5px 10px 10px rgb(224, 224, 224); /* Añadimos una sombra suave para darle profundidad */
    border: 1px solid #ffffff; /* Agregamos un borde blanco */
    text-shadow: 0.5px 0.5px 3px rgba(255, 255, 255, 0.466);
}