{{extend 'layout.html'}}
<!DOCTYPE html>
<html>
<head>
    <title>Student View</title>
</head>
<body>
    <h1>Welcome to the Student View</h1>

    <div id="form-container"></div>

    <script type="module">
        import StudentRepository from '../static/js/StudentRepository.js';
        import StudentFactory from '../static/js/students.js';
        import FormRenderer from '../static/js/FormRenderer.js';
        import StudentController from '../static/js/studentController.js';

        console.log('Starting script...');

        // Instanciar las clases
        console.log('Instantiating classes...');
        var repository = new StudentRepository();
        var factory = new StudentFactory();
        var renderer = new window.FormRenderer();
        var controller = new StudentController(repository, factory, renderer);
        console.log('Classes instantiated.');

        // Renderizar el formulario
        console.log('Rendering form...');
        controller.renderForm();
    </script>
</body>
</html>